@charset "utf-8";
@import url("font.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: middle;
    /*  */
    border: 0;
}

html.active{
    font-size: 16px !important;
    overflow: hidden !important;
    /* overflow hidden을 하면 스크롤이 사라짐 */
}

body{
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    line-height: 1;
    /* 폰트 사이즈의 1배 */
    letter-spacing: 0;
    font-weight: 400;
    color: #222;
    word-break: keep-all;
    background-color: black;
}

/* 레이아웃 */
.wrap{
    position: relative;
    display: block;
}

/* 상단 */
header{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 9999;
    transition: all 0.5s;
}

.logo{
    position: relative;
    width: 125px;
    height: 40px;
    background: url("../images/logo_white.png") no-repeat center;
    background-size: contain;
    transition: all 0.5s;
}

header.active{
    height: 80px !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

header.active .logo{
    background: url("../images/logo.png") no-repeat center !important;
    background-size: contain !important;
}

header.active .gnb a{
    color: #222 !important;
    line-height: 80px !important;
}

header.active .gnb a span::after{
    background-color: #222 !important;
}

.nav{
    display: block;
}
.gnb{
    display: flex;
    margin-right: -34px;
    transition: all 0.5s;
}

.gnb > li > a{
    display: block;
    padding: 0 34px;
    line-height: 100px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    transition: line-height 0.5s padding 0.5s;
}

.gnb > li > a > span{
    position: relative;
}

.gnb > li > a > span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    opacity: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s, opacity 0.5s;
}

.gnb > li > a:hover > span::after{
    opacity: 1;
    width: 100%;
}

/* 모바일 메뉴 */
.mbt{
    position: absolute;
    display: none;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 22px;
    font-size: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.mbt span{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: background 0.3s;
}

.mbt.active span{
    background-color: #222 !important;
}

.mbt span:nth-child(1){
    top: 0;
    transform-origin: 0 50%;
    /* y축을 기준으로 50% 움직인다. */
    transition: transform 0.3s;
}

.mbt.ani span:nth-child(1){
    transform: rotate(45deg) !important;
}

.mbt span:nth-child(2){
    top: 50%;
    transform-origin: 0 50%;
    transition: transform 0.3s;
}

.mbt.ani span:nth-child(2){
    display: none !important;
}

.mbt span:nth-child(3){
    top: 100%;
    transform-origin: 0 50%;
    transition: transform 0.3s;
}

.mbt.ani span:nth-child(3){
    transform: rotate(-45deg);
}

/* 모바일 gnb */
.nav-mb{
    position: absolute;
    top: 70px;
    left: 100%;
    display: block;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #fff;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.nav-mb.active{
    left: 0% !important;
    opacity: 1 !important;
}

.nav-mb-gnb li{
    line-height: 67px;
}

.nav-mb-gnb li a{
    display: block;
    padding: 0 40px;
    font-size: 24px;
    color: #222;
    border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 1280px){
    header{
        padding: 0 30px;
    }
    .logo{
        width: 150px;
    }
    .gnb{
        margin-right: -26px;
    }
    .gnb > li > a{
        padding: 0 26px;
    }
}

@media screen and (max-width: 1024px){
    .logo{
        width: 120px;
    }
    header{
        height: 70px;
    }
    .gnb{
        display: none;
    }
    .mbt{
        display: block;
    }
}

/* 비주얼 영역 */

.visual{
    width: 100%;
    height: 970px;
    position: relative;
}

#slide_box{
    width: 100%;
    height: 970px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.visual_box{
    position: absolute;
    top: 260px;
    left: 230px;
    /* background-color: yellowgreen; */
    width: 700px;
    /* height: 500px; */
}

.btn_box{
    display: flex;
    margin-bottom: 30px;
}

.btn{
    background-color: rgba(255, 255, 255, 0.2);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 100%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover{
    color: #fff;
}

#title{
    width: 100%;
    /* background-color: violet; */
    color: #fff;
    line-height: 60px;
}

.text{

}

.text span{
    font-family: "Godo", sans-serif;
    font-size: 75px;
    font-weight: bold;
}

.text p{
    font-family: "Pretendard", sans-serif;
    font-size: 22px;
    font-weight: 500;
    opacity: 0.9;
}

.text2, .text3, .text4{
    display: none;
}

.text button{
    padding: 20px 50px;
    font-size: 17px;
    color: #fff;
    background: none;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    cursor: pointer;
}